:root {
    --color-white: #fff;
    --color-gray-light: #ccc;
    --color-gray: #777;
    --color-gray-dark: #666;
    --color-black: #000;
    --color-red: red;
}

/* import the fonts from assets */
@font-face {
    font-family: 'TheMixPlain';
    src: url('../fonts/TheMixPlain.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    font-family: 'TheMixPlain', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    box-sizing: border-box;
}

/* Page Wrapper */
.wrapper {
    width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
    .wrapper {
        width: 80%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header */
.page {
    overflow: hidden;
}

header {
    text-align: right;
    padding: 20px 20px 0;
    position: relative;
    overflow: hidden;
}

header hr {
    position: absolute;
    width: 58%;
    bottom: 10px;
    left: 0;
    z-index: 2;
}

.logo,
.page__logo {
    color: var(--color-gray);
    background-color: var(--color-white);
    position: relative;
    z-index: 2;
}

.logo {
    font-size: 3.5rem;
    display: inline-block;
    font-weight: lighter;
    text-transform: lowercase;
    padding: 0 20px;
    right: 0;
}

.page__logo {
    font-size: 5rem;
    margin-right: 100px;
    padding-right: 15%;
    margin-bottom: 0;
}

.page__logo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    top: 0;
    z-index: -1;
}

/* page content Layout */
.page__content {
    position: relative;
    margin-top: 40px;
}

.page__content::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-gray-dark);
    top: 0;
    left: -10vw;
    right: 0;
    z-index: -1;
    max-height: 400px;
}

/* Main Content */
.row {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    overflow: hidden;
}

.page__section {
    position: relative;
    margin-top: 3rem;
}

.navbar {
    margin-top: 4rem;
}

.sidebar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
}

.sidebar__list li {
    border: 1px solid var(--color-white);
    background: var(--color-gray-dark);
}

.sidebar__list li a {
    color: var(--color-white);
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

.sidebar__list li a.active {
    background-color: var(--color-white);
    color: var(--color-gray-dark);
}

.content {
    position: relative;
    background: var(--color-white);
    padding: 2rem;
    color: var(--color-gray);
}

.content .heading {
    font-size: 2rem;
}

.content img {
    float: right;
    padding: 20px;
    margin-bottom: 10px;
}

/* Form Styling */
.add-form {
    border: 2px solid var(--color-gray-dark);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.form-groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.add-form label {
    display: block;
    font-weight: bold;
    margin: 5px 0;
}

.field-group {
    display: flex;
    gap: .5rem;
}

.add-form input,
.add-form select {
    padding: 8px;
    border: 1px solid var(--color-gray-light);
    border-radius: 3px;
    width: inherit;
}

.field-group input {
    width: 100%;
}

.add-form button {
    background-color: transparent;
    color: var(--color-gray-dark);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    grid-column: 3;
    text-align: right;
    text-transform: uppercase;
    margin-top: 1rem;
}

.add-form button:hover {
    text-decoration: underline;
}

section#editModal {
    position: absolute;
    top: 22px;
    background: var(--color-white);
    left: 4%;
    width: 92%;
}

.btns {
    display: flex;
    justify-content: flex-end;
    grid-column: 4/1;
}

.error-text {
    color: var(--color-red);
    font-size: 12px;
}

/* Table Styling */
.event-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-white);
}

.event-table th,
.event-table td {
    padding: 10px;
    text-align: left;
}

.event-table {
    border: 2px solid var(--color-black);
    border-radius: 4px;
    border-collapse: separate;
}

.event-table a {
    color: var(--color-gray);
    text-decoration: none;
}

.event-table a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .sidebar,
    main {
        width: 100%;
    }

    .add-form input,
    .add-form select {
        width: 100%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
}

.form input {
    padding: 8px;
    border: 1px solid var(--color-gray-light);
    border-radius: 3px;
}

.form button {
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}